html {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
 
}

.App-header {

}

.question {
  
  color: white;
  padding-top: 2%;
}

li a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  font-weight: bold;
  
}

li:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.menu-bar {
  background-color: black;
  height:50px;
  padding-top: 2%;
}

.menu-list {
  
  display: flex;
  justify-content: space-around;
  color: white;
}

.register-form {
  
}